.login-page-body .frame-form-login{
    width:40%;
    height:45vh;
    margin: 50px auto;
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.456);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.login-page-body .frame-form-login .input-group{

}


.login-page-body .frame-form-login h2{
    margin: 25px 0 0 0;
}

.login-page-body .frame-form-login button{
    width:150px;
}

.login-page-body .frame-form-login a{
    display: block;
    margin:15px 0;
    font-size: 18px;
}

@media (max-width : 760px) {
    .login-page-body .frame-form-login{
        width:90%;
    }
}