.contact-page-body{
    margin: 25px;
}
.contact-page-body .contact-form{
    max-width: 900px;
    min-height:70vh;
    border: 1px solid rgba(128, 128, 128, 0.456);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: black;
    border-radius: 15px;
    margin: auto;
    font-size: 15px;

}

.contact-page-body .contact-form h4{
    margin: 8px 0 0 0;
    font-size: 35px;
}

.contact-page-body .contact-form .form-label,
.contact-page-body .contact-form .textarea-input
{
    margin-top: 10px;
}

.contact-page-body .contact-form .textarea-input label{
    padding: 5px;
    margin: 5px 15px;
}

.contact-page-body .contact-form .fieldError{
    border: 1px red solid;
}

.contact-page-body .contact-form button{
    width:100%;
    margin:15px 0;
}