.contact-page-body{
    margin: 25px;
}
.contact-page-body .contact-form{
    max-width: 700px;
    min-height:60vh;
    border: 1px solid gray;
    /* border: 1px solid black; */
    /* background-color: rgba(232, 225, 225, 0.61); */
    /* background-color:darkgrey; */
    background-color:whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: black;
    border-radius: 15px;
    margin: auto;
}

.contact-page-body .contact-form h4{
    margin: 8px;
}

.contact-page-body .contact-form .form-floating{
    margin-top: 10px;
}

.contact-page-body .contact-form .row .col{
    font-size: 15px;
}

.contact-page-body .contact-form button{
    width:100%;
    margin:15px 0;
}