.basket-page .container-fluid .row h3{
    margin: 50px auto 10px auto;
}

.basket-page .basket-body{
    max-width:450px;
    font-size: 15px;
    margin: 35px auto;
    /* justify-content: center; */
}

.basket-page .basket-body .item-img-basket img{
    width:100px;
}

.basket-page .basket-body .sum-div{
    /* width:450px; */
    margin: 10px;
}

.basket-page .basket-body .sum-div button{
    width:inherit;
    margin:15px
}

.basket-page .basket-body h4{
    font-weight: 100;
}