.basket-page .container-fluid .row h3{
    margin: 50px auto 10px auto;
}
.basket-page .basket-body{
    max-width: 1000px;
    margin: auto;
}

.basket-page .basket-body{
    max-width:450px;
    font-size: 15px;
    margin: 35px auto;
}


.basket-page .basket-body .item-img-basket img{
    width:100px;
}

.basket-page .basket-body .sum-div{
    margin: 10px;
}

.basket-page .basket-body .sum-div button{
    width:inherit;
    margin:15px
}

.basket-page .basket-body h4{
    font-weight: 100;
}

.basket-page .basket-body .icon-trash{
    display: block;
}

.basket-page .basketUserData{
    margin: 10px auto 25px 10px;
}

.basket-page .formUserData{
    width: 85%;
    border:1px solid rgba(128, 128, 128, 0.614);
    border-radius: 25px;
    font-size: 15px;
    margin: auto;
    padding: 20px;
}

.basket-page .paymentUser{
    margin:25px auto;
}

.basket-page .deliveryUser{
    margin:25px auto;
}

.basket-page button{
    margin: 0 0 0 15px;
}