.navbar-frame{
    padding: 15px;
    z-index: 2;
    font-size: smaller;
    width: 100vw;
}

.navbar-frame.changeBackground{
    background-color: black;
    color: white;
}

.navbar-frame .containar{
    width: 100%;
}



nav.navbar-frame{
    background-color: rgb(255, 255, 255); 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

nav.navbar-frame .nav-link.activeColor{
   border-bottom: 1px solid rgba(128, 128, 128, 0.464);
}

.navbar-frame .dropdown-item a,
.navbar-frame .navbar-nav a{
    text-decoration: none;
    color: rgb(72, 71, 71);
}

.navbar-frame .changeBackground{
    background-color: rgb(96, 95, 95);
}


.navbar-frame .dropdown-item a:hover,
.navbar-frame .navbar-nav a:hover{
    color: black;
    transition: 0.5s;
}

.navbar-frame .dropdown-item:hover{
    background-color: rgba(178, 173, 173, 0.344);
}

.navbar-frame .accessibility{
    margin: 0 15px;
}

.navbar-frame .accessibility div .form-check {
    margin: 0 15px;
}
.navbar-frame .accessibility div .font{
margin: 0 5px;
}

.navbar-frame .accessibility.acc-font button{
   background-color: initial;
   color: black;
   border: none;
}

.navbar-frame .accessibility.acc-font button.x-large{
    margin: 0 0 0 10px;
   font-size: x-large;
}

.navbar-frame .accessibility.acc-font button.small{
    padding-bottom: 0;
}