.top div{
    min-width:40px;
    /* border: 2px black solid; */
    margin: 5px;
}

.top div.contactUsIcon{
    height:40px;
    border: 1px solid rgb(68, 68, 68);
    border-radius: 50%;
}


.top div.contactUsIcon svg{
    color:rgb(68, 68, 68);
}

.mainNav{
    /* background-color: rgba(255, 255, 255, 0.538); */
    background-color: rgba(70, 70, 70, 0.284);
    position: relative;
    padding: 5px;
}

.mainNav .container{
    margin: 0;
}

.mainNav .navbar-brand{
    display: flex;
}

.mainNav .navbar-brand a,
.mainNav .navbar-brand span{
    font-size: 20px;

    
}
.mainNav .navbar-brand a{
    /* color: rgba(58, 56, 56, 0.784); */
    color: rgba(0, 0, 0, 0.755);
    margin: 0 7px;
}
.mainNav .navbar-brand span{
    color: rgba(128, 128, 128, 0.799);
}


.linkCategory{
    color: rgba(0, 0, 0, 0.748);
}