 .holder .card{
    font-size: 15px;
    /* max-width: 250px; */
    max-width: 260px;
    /* לבדוק!!! */
    height: 510px;
    /* height: 480px; */
    border: none;
    position: relative;
    margin: 10px 0;
    border: 1px solid rgba(128, 128, 128, 0.182);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 14px;
}

 .holder .card .like{
    position:absolute;
    right: 10px;
    font-size: 27px;
}

 .holder .card img{
    max-width: 250px;
    max-height:200px;
    margin: 0;
    padding:0;
}

.holder .card p.card-text{
    margin: 5px;
}

 .holder .card p.itemColors{
    display: flex;
    justify-content: center;
}

.holder .card p.itemColors .divColor{
    max-width: 100%;
    display: inline-block;
    padding: 5px;
    font-weight: bold;

}
 .holder .card p.itemColors .divColor .color{
    width: 20px;
    height: 20px;
    border: 0.5px solid rgba(128, 128, 128, 0.342);
    border-radius: 50%;
    margin: 5px auto;
}


.holder .card .footerCard{
    display: flex;
    justify-content: center;
    align-items: center;
} 

.holder .card .footerCard div{
    color:rgb(97, 92, 92) ;
    cursor: pointer;
}

.holder .card .footerCard button{
    font-size: 12px;  
}

 .holder .card .footerCard a, 
 .holder .card .footerCard button{
    margin: 12px;
}

@media (max-width: 992px) {
    .holder .card{
    height: 480px;
    }
     .holder .card img{
    max-height:150px;
    }

    .holder .card .footerCard button{
        font-size: 10px;
    }

    .holder .card p.itemColors .divColor{
        padding: 0;
        
    }
    .holder .card p.itemColors .divColor span{
       display: none;

    }

    
}