.App {
  text-align: center;
  font-size: 20px;
}

.App.change{
  font-size: x-large;
}

.App.background{
  background-color: black;
  /* color:white; */
}

.admin{
  width:70px;
  height: 70px;
  border-radius: 50%;
  background-color: blueviolet;
  background-color: green;
  position: fixed;
  top:10%;
  /* bottom: 50%; */
  right: 10px;
  z-index: 15;
  font-size: 15px;
}

.admin a{
  /* text-decoration: none; */
  color: #d5e1fa;
}



.App-header {
  /* background-color: #c4d0e9; */
  background-color: #d5e1fa;
  background-color: whitesmoke;
  background-color: white;
 
  /* background-color: rgba(82, 58, 30, 0.84); */
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
}

/* .App-header.background{
  background-color: black;
  color: white;
} */

.App body .userName{
  width:100px ;
  /* height:150px; */
  height:100px;
  background-color: aliceblue;
  background-color: whitesmoke;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-top: 0.5px solid rgb(196, 188, 188);
  border-right: 0.5px solid rgb(196, 188, 188);
  border-bottom: 0.5px solid rgb(196, 188, 188);
  border-radius: 0 25px 25px 0;
  position: fixed;
  /* top:20%; */
  /* top:10%; */
  bottom:10%;
  z-index: inherit;
}

.App body  .userName .logout{
  border:none;
  background-color: inherit;
  color:rgb(43, 43, 227)
}


