.admin-products-page-body table{
   font-size: 13px;
}

.admin-products-page-body table td img{
    width:50px;
    height:50px;
}

.admin-products-page-body .new-pro{
    margin: 5px 0 10px 0;
}

.admin-products-page-body .new-pro a{
    text-decoration: none;
    color: white;
}

.admin-products-page-body .delete-icon{
    font-size: 20px;
    cursor: pointer;
}

.admin-products-page-body .edit-icon button{
    background-color: initial;
    border:1px solid gray;
}
.admin-products-page-body .edit-icon button svg{
    color:rgb(73, 71, 71);
}
